body {
    min-height: 100vh;
    min-width: 100%;
    margin: 30px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light,
.navbar.navbar-light.bg-light {
    background-color: #ebebeb !important;
    padding: 0.5%;
}

.navbar.navbar-light.bg-light,
a.nav-link{
    padding: 0;
    padding-left: 1%;
}

.navbar-brand-img {
    display: flex;
    border-radius: 50%;
}

h1,
a.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50%;
}

footer {
    /*background-color: rgb(247, 247, 247);*/
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 70%;
}

.line-hr {
    display: block;
    height: 1px;
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(122, 122, 122);
}
